/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --navbar-height:59px;
}

#logo{
    margin:2px 21px;
} 

#logo img{
    height: 60px;
    width:69px;
    filter: invert(200%);
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color:#472c12f5;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    /* To remove bullet points */
    list-style: none; 
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    border:3PX solid #C5A059;
    background-color: #F5F5DC;
    color: #472c12f5;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    margin:-20px 12px;
}

#navbar ul li a:hover{
    background-color: #E5D3B3;
    font-size: 22px;
    text-decoration: underline;
}


