/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

:root{
    --navbar-height:59px;
}

#logo{
    margin:2px 21px;
} 

#logo img{
    height: 60px;
    width:69px;
    filter: invert(200%);
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color:#472c12f5;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    /* To remove bullet points */
    list-style: none; 
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    border:3PX solid #C5A059;
    background-color: #F5F5DC;
    color: #472c12f5;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    margin:-20px 12px;
}

#navbar ul li a:hover{
    background-color: #E5D3B3;
    font-size: 22px;
    text-decoration: underline;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 279px; 
    padding: 123px 200px;
}

#home::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    background: url('../bg1.jpg')no-repeat center center/cover;
    top:0px;
    left: 0px;
    z-index: -1;
    opacity: 0.26;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
}

.cap{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: bold;
    margin: 3px;
}

.h-primary{
    font-size: 3.4rem;
    padding:11px;
    color: #472c12f5;
    text-shadow:2px 2px 8px darkkhaki;
}

.h-secondary{
    font-size:1.85rem ;
    padding: 15px;
    font-weight: 900;
}
.btn{
    background-color:#855434;
    color: #F5F5DC;
    padding: 5px 4px;
    margin: 15px 4px;
    border: 2px solid #3D2B1F;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover{
    background-color:#E5D3B3;;
    color: #3D2B1F;
    font-size: 1.3rem;
}

#services{
    padding:32px;
    display: flex;
    overflow: hidden;
}

#services .box{
    border: 3.1px solid #472c12f5;
    margin:-2px 18px;
    padding:22px 16px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgb(25 23 23 / 28%);
    background-color: #e5d3b37a;
}
#services .box:hover{
    transform: scale(1.03);
    border-radius: 8px;
}

#services .box img{
    width:183px;
    height: 181px;
    display: block;
    margin:auto;
    border-radius: 98px;
    object-fit: cover;
}

#services .box p{
    font-size: 17px;
    font-family: cursive;
    padding: 0px 6px;
}
#about-section{
    display: flex;
    flex-direction: column;
}

#about-section .h-about{
    font-size:1.85rem ;
    font-family: "Edu NSW ACT Cursive", cursive;
    padding: 14px;
    font-weight: 900;

}

#about-section .story{
    color: white;
    padding: 7px 21px;
    margin: 0px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../bg.jpg')no-repeat center center/cover;
    height: 200px;
    width: 100%;
}

#about-section #About p{
    font-size: 1.5rem;
    padding: 2px 6px;
}

#about-section .HoursLocation{
    color: white;
    padding: 7px 31px;
    margin: 0px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../bg3.jpg')no-repeat center center/cover;
    height: 245px;
    width: 100%;
}

#about-section .HoursLocation .hours{
    font-size: 1.5rem;
    border-radius: 18px;
    padding: 15px 21px;
    margin: -21px -2px;
    height: 150px;
}

#about-section .HoursLocation .hours th{
    text-decoration: underline;
    color: #ffcc00d9;
    text-align: left;
    padding-left: 2px;
}

#about-section .HoursLocation .hours th:nth-child(2){
    padding-left: 26px;
}

#about-section .HoursLocation .hours .time{
    padding: 6px 24px;
}

#about-section .HoursLocation h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffcc00d9;
    font-size: 1.5rem;
    padding: 5px 0px;
    margin: 6px 33px;
}

#about-section .Reserve{
    background-color: #ffe9c7;
    color: rgb(8, 8, 8);
    padding: 31px 21px;
    margin: 0px;
    height: 190px;
    width: 100%;
}

#about-section .Reserve p{
    margin: 5px;
}

#about-section .Reserve .booking{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .date{
    margin: 1px -1px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .date input{
    margin: 1px 9px;
    padding: 7px 2px;
    font-size: 15px;
    border:solid 2px #4d2e19;
}

#about-section .Reserve .booking .guest{
    margin: 1px 22px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .guest #guests{
    margin: 1px 12px;
    padding: 8px 2px;
    font-size: 15px;
    border:solid 2px #4d2e19;
    width:80px
}

#about-section .Reserve .booking .Time{
    margin: 1px 22px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .Time #real-Time{
    margin: 1px 12px;
    padding: 8px 2px;
    font-size: 15px;
    border:solid 2px #4d2e19;
    width:92px
}

#about-section .Reserve .booking .form-btn{
    cursor: pointer;
    background-color:#855434;
    color: #F5F5DC;
    padding: 5px 4px;
    margin: 13px 4px;
    border: 2px solid #3D2B1F;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.0rem;
    font-weight: bold;
}

#about-section .Reserve .booking .form-btn:hover{
    background-color: #4d2e19;
    color: white;
}

.center{
    text-align: center;
}

