/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height:59px;
}

#logo{
    margin:2px 21px;
} 

#logo img{
    height: 60px;
    width:69px;
    filter: invert(200%);
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color:#533519e6;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    /* To remove bullet points */
    list-style: none; 
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    border:3PX solid #C5A059;
    background-color: #F5F5DC;
    color: #472c12f5;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    margin:10px 17px;
}

#navbar ul li a:hover{
    background-color: #E5D3B3;
    font-size: 22px;
    text-decoration: underline;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 279px; 
    padding: 123px 125px;
}

#home::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    background: url('../bg1.jpg')no-repeat center center/cover;
    top:0px;
    left: 0px;
    z-index: -1;
    opacity: 0.26;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
    margin: 7px 5px;
    padding: 5px;
    max-width: 700px;
}

.cap{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: bold;
}

.h-primary{
    font-size: 3.4rem;
    padding: 1px;
    color: #472c12f5;
    text-shadow:2px 2px 8px darkkhaki;
}

.h-secondary{
    font-size:1.85rem ;
    padding: 15px;
    font-weight: 900;
}
.btn{
    background-color:#855434;
    color: #F5F5DC;
    padding: 5px 4px;
    margin: 8px 4px;
    border: 2px solid #3D2B1F;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover{
    background-color:#E5D3B3;;
    color: #3D2B1F;
    font-size: 1.3rem;
}

#services{
    padding:32px;
    display: flex;
    overflow: hidden;
}

#services .box{
    border: 3.1px solid #472c12f5;
    margin:0px 18px;
    padding:22px 16px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgb(25 23 23 / 28%);
    background-color: #e5d3b37a;
}
#services .box:hover{
    transform: scale(1.03);
    border-radius: 8px;
}

#services .box img{
    width:183px;
    height: 181px;
    display: block;
    margin:auto;
    border-radius: 98px;
    object-fit: cover;
}

#services .box p{
    font-size: 17px;
    font-family: cursive;
    padding: 0px 6px;
}
#about-section{
    display: flex;
    flex-direction: column; 
}

#about-section .h-about{
    font-size:1.85rem ;
    font-family: "Edu NSW ACT Cursive", cursive;
    padding: 14px;
    font-weight: 900;

}

#about-section .story{
    color: white;
    padding: 7px 21px;
    margin-top:8px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../bg.jpg')no-repeat center center/cover;
    height: 200px;
    width: 96.9%;
}

#about-section #About p{
    font-size: 1.5rem;
    padding: 2px 6px;
}

#about-section .HoursLocation{
    color: white;
    padding: 7px 31px;
    margin: 0px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../bg3.jpg')no-repeat center center/cover;
    height: 245px;
    width: 95.6%;
}

#about-section .HoursLocation .hours{
    font-size: 1.5rem;
    border-radius: 18px;
    padding: 15px 21px;
    margin: -21px -2px;
    height: 150px;
}

#about-section .HoursLocation .hours th{
    text-decoration: underline;
    color: #ffcc00d9;
    text-align: left;
    padding-left: 2px;
}

#about-section .HoursLocation .hours th:nth-child(2){
    padding-left: 26px;
}

#about-section .HoursLocation .hours .time{
    padding: 6px 24px;
}

#about-section .HoursLocation h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffcc00d9;
    font-size: 1.5rem;
    padding: 5px 0px;
    margin: 6px 33px;
}

#about-section .Reserve{
    background-color: #ffe9c7;
    color: rgb(8, 8, 8);
    padding: 31px 21px;
    margin: 0px;
    height: 195px;
    width: 96.9%;
}

#about-section .Reserve p{
    margin: 5px;
}

#about-section .Reserve .booking{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    padding: 2px 8px;
}

#about-section .Reserve .booking .date{
    margin: 1px 1px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .date input{
    margin: 1px 9px;
    padding: 7px 2px;
    font-size: 15px;
    border:solid 2px #4d2e19;
}

#about-section .Reserve .booking .guest{
    margin: 1px 22px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .guest #guests{
    margin: 1px 12px;
    padding: 8px 2px;
    font-size: 15px;
    border:solid 2px #4d2e19;
    width:80px
}

#about-section .Reserve .booking .Time{
    margin: 1px 22px;
    padding: 8px 2px;
}

#about-section .Reserve .booking .Time #real-Time{
    margin: 1px 12px;
    padding: 8px 2px;
    font-size: 15px;
    border:solid 2px #4d2e19;
    width:92px
}

.form-btn{
    cursor: pointer;
    background-color:#855434;
    color: #F5F5DC;
    padding: 5px 4px;
    margin: 13px 4px;
    border: 2px solid #3D2B1F;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.0rem;
    font-weight: bold;
}

.form-btn:hover{
    background-color: #4d2e19;
    color: white;
}

#contact{
    position: relative;
    height: 505px;
    padding: 21px 40px;
    margin-top: 20px;
}

#contact::before{
    content: "";
    position: absolute;
    height: 96%;
    width: 100%;
    box-shadow: inset 0 0 7px 7px white;
    left: 0px;
    background:url('../contact.png')no-repeat center center/cover;
    z-index: -1;
    opacity: 0.26;
}

#contact-box{
    display: flex;
    justify-content: space-between;
    flex:1;
    margin: 8px;
    padding: 40px;
}

#contact-box .form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.26rem;
}

#contact-box .form-group #name{
    font-family: cursive;
    font-size: 15px;
    border:solid 2px #4d2e19;
    margin: 5px 2px;
    padding: 5px 9px;
}

#contact-box .form-group label{
    display: inline-block;
    width:140px;
}

#contact-box .contact-btn{
    cursor: pointer;
    background-color:#855434;
    color: #F5F5DC;
    padding: 7px 10px;
    margin: 13px 4px;
    width: 99%;
    border: 3px solid #3D2B1F;
    border-radius: 56px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.0rem;
    font-weight: bold;
}

#contact-box .contact-btn:hover{
    background-color: #4d2e19;
    color: white;
}

#contact .contact-form{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.02rem;
    margin-top: 10px;
}

#contact .contact-form h3{
    font-size: 1.5rem;
    padding: 5px 0px;
    margin: 6px 33px;
}

#contact .contact-form .socials-container{
    display: flex;
    margin: 20px 5px;
}

#contact .contact-form .socials-container img{
    height:27px;
    width: 27px;
}

footer{
    background-color: black;
    color: white;
    padding: 6px 9px;
}
.center{
    text-align: center;
}

