/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --navbar-height:59px;
}

#logo{
    margin:2px 21px;
} 

#logo img{
    height: 60px;
    width:69px;
    filter: invert(200%);
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color:#472c12f5;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    /* To remove bullet points */
    list-style: none; 
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    border:3PX solid #C5A059;
    background-color: #F5F5DC;
    color: #472c12f5;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    margin:-20px 12px;
}

#navbar ul li a:hover{
    background-color: #E5D3B3;
    font-size: 22px;
    text-decoration: underline;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px; 
    padding: 123px 200px;
}

#home::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../bg1.jpg')no-repeat center center/cover;
    z-index: -1;
    opacity: 0.26;
}

#home h1{
    color: #472c12f5;
    text-align: center;
    text-shadow:2px 2px 8px darkkhaki;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
}

.cap{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: bold;
    margin: 3px;
}

.h-primary{
    font-size: 3.0rem;
    padding:9px;
}

.h-secondary{
    font-size:1.72rem ;
    padding: 15px;
}
.btn{
    background-color:#855434;
    color: #F5F5DC;
    padding: 5px 4px;
    margin: 13px 4px;
    border: 2px solid #3D2B1F;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover{
    background-color:#E5D3B3;;
    color: #3D2B1F;
    font-size: 1.3rem;
}

#services{
    margin:32px;
    display: flex;
}

#services .box{
    border: 2px solid #3D2B1F;
    margin: 3px 5px;
    padding:20px 10px;
}

#services .box img{
    width:171px;
    height: auto;
    display: block;
    margin:auto;
}



.center{
    text-align: center;
}
