/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --navbar-height:59px;
}

#logo{
    margin:2px 21px;
} 

#logo img{
    height: 60px;
    width:69px;
    filter: invert(200%);
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color:#472c12f5;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    /* To remove bullet points */
    list-style: none; 
    font-size: 1.3rem;
}

#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 2px 5px;
    border:3PX solid #C5A059;
    background-color: #F5F5DC;
    color: #472c12f5;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    margin:-20px 12px;
}

#navbar ul li a:hover{
    background-color: #E5D3B3;
    font-size: 22px;
    text-decoration: underline;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 279px; 
    padding: 123px 200px;
}

#home::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 100%;
    background: url('../bg1.jpg')no-repeat center center/cover;
    top:0px;
    left: 0px;
    z-index: -1;
    opacity: 0.26;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
}

.cap{
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: bold;
    margin: 3px;
}

.h-primary{
    font-size: 3.4rem;
    padding:9px;
    color: #472c12f5;
    text-shadow:2px 2px 8px darkkhaki;
}

.h-secondary{
    font-size:1.85rem ;
    padding: 15px;
    font-weight: 900;
}
.btn{
    background-color:#855434;
    color: #F5F5DC;
    padding: 5px 4px;
    margin: 15px 4px;
    border: 2px solid #3D2B1F;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn:hover{
    background-color:#E5D3B3;;
    color: #3D2B1F;
    font-size: 1.3rem;
}

#services{
    margin:32px;
    display: flex;
}

#services .box{
    border: 3.1px solid #472c12f5;
    margin:-2px 18px;
    padding:22px 16px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgb(25 23 23 / 28%);
    background-color: #e5d3b37a;
}

#services .box img{
    width:183px;
    height: 181px;
    display: block;
    margin:auto;
    border-radius: 98px;
    object-fit: cover;
}

#services .box p{
    font-size: 17px;
    font-family: cursive;
    padding: 0px 6px;
}

#about-section .h-about{
    display: flex;
    flex-direction: column;
    font-size:1.85rem ;
    font-family: "Edu NSW ACT Cursive", cursive;
    padding: 15px;
    font-weight: 900;

}

#about-section .story{
    color: white;
    border-radius: 18px;
    padding: 7px 52px;
    margin: 12px;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../bg.jpg')no-repeat center center/cover;
    height: 176px;
}

#about-section #About p{
    font-size: 1.5rem;
    padding: 0px 6px;
}

#about-section .HoursLocation{
    color: rgb(8, 8, 8);
    border-radius: 18px;
    padding: 7px 52px;
    margin: 12px;
    height: 176px;
}

.center{
    text-align: center;
}

